* {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

::selection {
  background: rgba(26, 188, 156, 0.3);
}